.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.headerPrincipal-nav-link {
    margin: 0 15px;
}